*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(./bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 50%;
    margin-top: 10%;
    
    
}
.login_page{
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 45px;
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
       
}
h2 {
    color: coral;
    font-size: 30px;
    margin-top: 30px;
}
.username{
    font-size: 15px;
    text-align: center;
    padding: 10px 45px;
    width: 300px;
    margin-top: 40px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
}
.password{
    font-size: 15px;
    text-align: center;
    padding: 10px 45px;
    width: 300px;
    margin-top: 40px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
}
button{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px 50px;
    background-color: coral;
    color: white;
    border: 0;
    border-radius: 5px;
    transition: all 1s ease;
    cursor: pointer;
    display: inline-block;
}
button:hover{
    background-color: white;
    color: coral;
}

span{
    position: absolute;
    margin-left: -30px;
    margin-top: 50px;
    cursor: pointer;

}